{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Home</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <link rel="stylesheet" href="{% static 'css/style.css'%}">
      {% comment %} Datatables CDN {% endcomment %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
   </head>
   <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">Careers-Harbor</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#">About</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#">Contact</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#">Option</a>
                  </li>
               </ul>
               <div class="d-flex">
                  {% comment %} <a class="btn btn-success" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> &nbsp;Login</a> {% endcomment %}
                  <a href="#login" class="btn btn-success" data-bs-toggle="modal"><i class="fa-solid fa-right-to-bracket"></i> &nbsp;Login</a>
               </div>
            </div>
         </div>
      </nav>


      <div class="modal fade" id="login">
         <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h3>Login to your account</h3>
                  <button class="btn-close" data-bs-dismiss="modal"></button>
               </div>
               <div class="modal-body">
                  <form method="POST" action="{% url "login" %}">
                     <div class="form-control mb-2">
                        <input class="input input-alt" placeholder="Username" name="username" required type="text">
                        <span class="input-border input-border-alt"></span>
                      </div>
                     <div class="form-control mb-2">
                        <input class="input input-alt" placeholder="Password" name="password" required type="password">
                        <span class="input-border input-border-alt"></span>
                      </div>
                      <div class="text-center">
                         <button class="continue-application">
                           <div>
                               <div class="pencil"></div>
                               <div class="folder">
                                   <div class="top">
                                       <svg viewBox="0 0 24 27">
                                           <path d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"></path>
                                       </svg>
                                   </div>
                                   <div class="paper"></div>
                               </div>
                           </div>
                           Continue Application
                           </button>
                      </div>
                      {% csrf_token %}
                  </form>
               </div>
            </div>
         </div>
      </div>

      {% if messages %}
    <div class="container col-lg-4">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        {% endfor %}
    </div>
      {% endif %}
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-lg">
           <div class="modal-content">
             <div class="modal-header">
               <h1 class="modal-title fs-5" id="staticBackdropLabel">Feedback FORM</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
               <form method="POST">{% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"><i class="fa-regular fa-user"></i> Name</label>
                    <input name="f_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"><i class="fa-regular fa-envelope"></i> &nbsp;Email</label>
                    <input name="f_email" type="email" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label"><i class="fa-regular fa-star"></i> &nbsp;Rating</label>
                     <input name="f_rating" type="number" class="form-control" id="exampleInputPassword1">
                   </div>
                   <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label"><i class="fa-regular fa-comment"></i> &nbsp; Feedback</label>
                     <input name="feedback" type="text" class="form-control" id="exampleInputPassword1">
                   </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             </div>
           </div>
         </div>
       </div>
      <div class="container-md col-lg-6 col-md-12" style="height:90vh">
         <h3 class="mt-2">Posts &nbsp; <i class="fa-solid fa-bell "></i></h3>
         <hr/>
         {% if career_records %}
         <div class="row p-2 rounded border border-dark m-2 post-card">
            <table class="table table-hover" id="companies">
               <thead>
                  <tr>
                     <th>Company Name</th>
                     <th>Company Link</th>
                  </tr>
               </thead>
               <tbody>
                 {% for c in career_records %}
                    <tr>
                       <td>{{c.company_name}}</td>
                       <td><a class="link-danger" href="{{c.company_link}}" target="_blank">Careers</a></td>
                    </tr>
                 {% endfor %}
               </tbody>
            </table>
            {% comment %} {% for c in career_records %}
            <div class="col-lg-3 d-flex justify-content-center">
               <img src="{% static 'assets/office-building.png' %}" class="img-fluid rounded w-50 image" alt="">
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center">
               <p class="text-white m-3">{{ c.company_name }}</p>
            </div>
            <div class="col-lg-3 d-flex align-items-center justify-content-center">
               <a href="{{ c.company_link }}" target="_blank" class="btn btn-dark">Careers</a>
            </div>
            {% endfor %} {% endcomment %}
         </div>
         {% endif %}
         <button type="button" class="btn btn-primary position-fixed z-3 bottom-0 end-0 m-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-comment"></i> &nbsp;Give Feedback
         </button>
      </div>


      {% if feedback_records %}
         <div class="testimonial-slider">
            <div id="carouselExampleControls" class="carousel carousel-dark" data-bs-ride="carousel">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="testimonial-title">
                                <i class="bi bi-quote display-2"></i>
                                <h2 class="fw-bold display-6">What our customers say</h2>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="carousel-inner">
                              {% for feedback in feedback_records %}
                                <div class="carousel-item">
                                    <div class="card">
                                        {% comment %} <div class="img-wrapper"><img src="..." class="d-block w-100" alt="..."> </div> {% endcomment %}
                                        <div class="card-body">
                                          <h5 class="card-title">{{feedback.fullname}}</h5>
                                          {% for i in ''|center:feedback.rating %}
                                             <i class="bi bi-star-fill text-warning pe-1"></i>
                                          {% endfor %}
                                          <p class="card-text">"{{feedback.feedback}}"</p>
                                        </div>
                                    </div>
                                </div>
                              {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      {% endif %}

      <script src="https://kit.fontawesome.com/dedeab9b5a.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      <script>
         $(document).ready(function () {
           $('#companies').DataTable({
             dom: 'Bfrtip',
             buttons: [
               'copyHtml5',
               'excelHtml5',
               'csvHtml5',
               'pdfHtml5'
             ]
           });
         });

         $(document).ready(function () {
            var multipleCardCarousel = document.querySelector(
            "#carouselExampleControls"
          );
          if (window.matchMedia("(min-width: 576px)").matches) {
            var carousel = new bootstrap.Carousel(multipleCardCarousel, {
              interval: false,
              wrap: false
            });
            var carouselWidth = $(".carousel-inner")[0].scrollWidth;
            var cardWidth = $(".carousel-item").width();
            var scrollPosition = 0;
            $("#carouselExampleControls .carousel-control-next").on("click", function () {
              if (scrollPosition < carouselWidth - cardWidth * 3) {
                scrollPosition += cardWidth;
                $("#carouselExampleControls .carousel-inner").animate(
                  { scrollLeft: scrollPosition },
                  600
                );
              }
            });
            $("#carouselExampleControls .carousel-control-prev").on("click", function () {
              if (scrollPosition > 1) {
                scrollPosition -= cardWidth;
                $("#carouselExampleControls .carousel-inner").animate(
                  { scrollLeft: scrollPosition },
                  600
                );
              }
            });
          } else {
            $(multipleCardCarousel).addClass("slide");
          }
        });
       </script>

       {% if user.is_authenticated %}
         <script>
            const login = document.querySelector('a[href="#login"]')
            login.addEventListener('click', () => {
               window.location.href = "{% url "login" %}";
            })
         </script>
       {% endif %}
   </body>
</html>